node_modules/
dist/
*.log
.DS_Store
.env
.env.local
*.db
*.db-journal
data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal
.vite/

data/*.avant_recuperation
data/backups/
data/*.db-wal
data/*.db-shm
